@use '../../../styles/abstracts' as *;

.cartLineItems {
  background-color: $backgrounds-white;
  margin-top: $space-4;
  padding: $space-4;
}

.lineItemsHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: $space-4;
}

.count {
  color: $text-neutral-default;
  @include body-bold-sm;
}

.link {
  color: $text-link-neutral--default;
  @include textlink-sm;
}

.itemList {
  display: grid;
}
