@use '../../styles/abstracts' as *;

.section {
  display: grid;
  position: sticky;
  width: 100%;
  top: $space-0;
  background-color: $backgrounds-secondary;
  color: $text-neutral-white;
  z-index: 103;
  min-height: 53px;
}

.container {
  position: relative;
  width: 100%;
  height: 100%
}
