.section {
  display: grid;
  width: 100%;
  top: 0px;
  background-color: #163358;
  color: rgb(255, 255, 255);
  z-index: 99;
  min-height: 53px;
}

.container {
  position: relative;
  width: 100%;
  height: 100%;
}

@media screen and (min-width: 481px) {
  .section {
    position: sticky;
  }
}
