.navItem {
  white-space: nowrap;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: relative;
  border-bottom: 2px solid transparent;
  z-index: 109;
  font-family: futura-pt, sans-serif;
  font-weight: 700;
  line-height: 120%;
  font-size: 16px;
}
.navItem h6 {
  height: 100%;
  width: 100%;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  padding: 0px 12px;
}
.navItem.hide_on_tablet {
  display: none;
}
.navItem.featured h6 {
  color: #9D6005;
}
.navItem:hover {
  border-bottom-color: rgb(0, 0, 0);
}

.megaMenu {
  display: flex;
  position: fixed;
  left: 0px;
  top: 125px;
  width: 100vw;
  z-index: 108;
  background-color: rgb(255, 255, 255);
  padding: 32px;
  justify-content: center;
  column-gap: 32px;
  opacity: 0;
  visibility: hidden;
  transform: translateY(-20px);
  transition: background-color 0.5s ease-out, visibility 0.5s ease-out, opacity 0.5s ease-out, transform 0.3s ease;
}
.megaMenu.megaMenuVisible {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.megaItem {
  display: flex;
  flex-direction: column;
}

.media {
  padding-bottom: 8px;
}

.subItemTitle {
  font-family: futura-pt, sans-serif;
  font-weight: 700;
  line-height: 120%;
  font-size: 20px;
}

.megaList {
  display: flex;
  flex-direction: column;
  row-gap: 4px;
  font-family: futura-pt, sans-serif;
  font-weight: 500;
  line-height: 120%;
  font-size: 18px;
  padding-top: 6px;
}

.subItemLink {
  position: relative;
  width: fit-content;
}
.subItemLink:hover:before {
  content: "";
  position: absolute;
  left: 0px;
  bottom: 0px;
  width: 0;
  border-bottom: 1px solid rgb(0, 0, 0);
  animation: border_anim 0.5s linear forwards;
}

@media screen and (min-width: 769px) {
  .navItem.mobile_only {
    display: none;
  }
}
@media screen and (min-width: 1281px) {
  .navItem h6 {
    padding: 0px 18px;
  }
  .navItem.hide_on_tablet {
    display: flex;
  }
}
@keyframes border_anim {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
