.wrapper {
  display: none;
  align-items: center;
  background-color: #fff;
  margin: auto 32px;
  column-gap: 12px;
  row-gap: 16px;
}

.navigation {
  display: none;
}

.searchWrapper {
  width: 430px;
}

.rightMenuWrapper {
  display: flex;
  column-gap: 12px;
  margin-left: auto;
}

.rightMenu {
  display: flex;
  column-gap: 16px;
  align-items: center;
  justify-content: center;
}

@media screen and (min-width: 481px) {
  .wrapper {
    display: flex;
  }
}
@media screen and (min-width: 1024px) {
  .wrapper {
    margin: auto 48px;
  }
  .burgerMenu {
    display: none;
  }
  .navigation {
    display: block;
  }
}
