@use './../../../../styles/abstracts/' as *;

.wrapper {
  display: none;
  align-items: center;
  background-color: #fff;
  margin: auto $space-8;
  column-gap: $space-3;
  row-gap: $space-4;
}

.navigation {
  display: none;
}

.searchWrapper {
  width: 430px;
}

.rightMenuWrapper {
  display: flex;
  column-gap: $space-3;
  margin-left: auto;
}

.rightMenu {
  display: flex;
  column-gap: $space-4;
  align-items: center;
  justify-content: center;
}

@include media-query(sm) {
  .wrapper {
    display: flex;
  }
}

@include media-query(lg) {
  .wrapper {
    margin: auto $space-12;
  }

  .burgerMenu {
    display: none;
  }

  .navigation {
    display: block;
  }
}
