.section {
  display: none;
  position: absolute;
  align-self: center;
  right: 24px;
  padding-left: 80px;
}

.wrapper {
  display: flex;
  column-gap: 16px;
  align-items: center;
}

@media screen and (min-width: 1281px) {
  .section {
    display: block;
  }
}
