.section {
  visibility: hidden;
  position: absolute;
  align-self: center;
  right: 24px;
}

.wrapper {
  display: flex;
  column-gap: 16px;
  align-items: center;
}

@media screen and (min-width: 1281px) {
  .section {
    visibility: visible;
  }
}
