@use '../../../styles/abstracts/index' as *;

.menuItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: $space-2-5 $space-4;
  border-bottom: $border-width-1 solid $borders-divider-muted;
  height: 40px;
  cursor: pointer;
  @include body-regular-md;

  &.menuItemWithSubmenu {
    @include body-bold-md;
  }

  &.featured {
    span {
      color: $alert-warning-default;
    }
  }

  @include media-query(md) {
    &.mobile_only {
      display: none;
    }
  }
}
