@use '../../../styles/abstracts' as *;

.card {
  border: $border-width-1-5 solid $borders-divider-muted;
  border-radius: $border-radius-base;
  padding: $space-2-5;
  min-height: 98px;
  width: 284px;
  position: relative;
  transition: border-color 0.15s ease-out;

  &.isSelected {
    border-color: $alert-success-default;
  }
}

.content {
  display: grid;
  grid-template-columns: 80px 1fr;
  grid-gap: $space-4;
  position: relative;
  z-index: 1;
  height: 100%;
  align-items: start;
}

.image {
  height: 100%;
  width: 100%;
  background: gray;
}

.icon {
  position: absolute;
  top: 8px;
  left: 8px;
  height: 24px;
  width: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
  border-radius: $rounded-pill;
  transition: background-color 0.15s ease-out;

  svg {
    height: 16px;
    width: 16px;
  }

  > div {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &.isSelected {
    background-color: $alert-success-default;

    svg g path {
      stroke: $text-neutral-white;
    }
  }

  &.isDisabled {
    background-color: $backgrounds-white;
  }
}

.description {
  color: $text-neutral-default;
  @include body-semi-sm;
}

.details {
  display: grid;
  text-align: left;
}

.sizes {
  display: flex;
  flex-wrap: wrap;
  gap: $space-1-5;
  margin-top: $space-2;
}

.disabledOverlay {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: $border-radius-base;
  height: 100%;
  width: 100%;
  background-color: $base-colors-neutral-black;
  background-color: rgba(0, 0, 0, 0);
  visibility: hidden;
  pointer-events: none;
  z-index: 1;
  transition: opacity 0.15s ease-out;
  display: flex;
  align-items: center;
  justify-content: center;

  &.isShown {
    background-color: rgba(0, 0, 0, $opacity-2);
    visibility: visible;
    pointer-events: initial;
  }
}

.priceContainer {
  display: flex;
  align-items: center;
  gap: $space-2;
  margin-top: $space-1;
}

.freeText {
  color: $price-neutral-default;
  @include product-price-default-sm;
}
