@use '../../../styles/abstracts' as *;

.wrapper {
  width: 100%;
  display: grid;
  justify-self: center;
  margin-left: -$space-4;
  margin-right: -$space-4;
}

.mainCarouselWrapper {
  position: relative;
}

.mainCarousel {
  height: 500px;

  > :global(.carousel-scroller) {
    height: 100%;

    > div {
      height: 100%;
      aspect-ratio: initial;
    }
  }
}

.thumbnailCarousel {
  display: none;
}

@include media-query(md) {
  .wrapper {
    max-width: 702px;
    margin: 0;

    &.slider {
      align-items: start;
      align-content: start;
      grid-template-columns: 82px 1fr;
      gap: $space-8;
    }
  }

  .mainCarousel {
    height: auto;

    > :global(.carousel-scroller) {
      height: auto;

      > div {
        height: auto;
        aspect-ratio: 3 / 4;
      }
    }
  }

  .thumbnailCarouselWrapper,
  .mainCarouselWrapper {
    position: sticky;
    top: 115px;
  }

  .thumbnailCarousel {
    display: block;
  }
}

@include media-query(lg) {
  .wrapper {
    max-width: initial;
    justify-self: initial;

    &.grid {
      grid-template-columns: 1fr 1fr;
      gap: $space-4;
    }
  }
}
