.wrapper {
  position: absolute;
  top: 16px;
  right: 0;
  left: 0;
  display: flex;
  align-items: center;
  gap: 8px;
  z-index: 1;
}

.tag {
  background-color: var(--background-color);
  color: var(--text-color);
}
