@use '../../styles/abstracts' as *;

.card {
  position: relative;

  &.xs {
    width: 168px;

    .imageBlock {
      height: 221px;
    }
  }

  &.sm {
    width: 316px;

    .imageBlock {
      height: 415px;
    }
  }

  &.md {
    width: 392px;

    .imageBlock {
      height: 514px;
    }
  }

  &.lg {
    width: 409px;

    .imageBlock {
      height: 540px;
    }
  }
}

.imageBlock {
  position: relative;
}

.tagWrapper {
  display: flex;
  align-items: center;
  gap: $space-2;
}

.wishlistButton {
  position: absolute;
  top: $space-3;
  right: $space-3;
  z-index: 2;
}

.image {
  height: 100%;
  width: 100%;
  position: absolute;
  @include inset(0);
  object-fit: cover;
  z-index: -1;
}

.contentBlock {
  padding-top: 10px;
  position: relative;
  z-index: 3;
  background-color: white;
  pointer-events: none;
}

.link {
  position: absolute;
  @include inset(0);
  z-index: 1;
}

.pricesWrapper {
  display: flex;
  align-items: center;
  gap: $space-1;
  position: relative;
  z-index: 2;
  pointer-events: none;
}

.bagButton {
  margin-left: auto;
  pointer-events: initial;

  @include media-query(md) {
    display: none;
  }
}
