@use '../../../styles/abstracts' as *;

.productSwatches {
  position: relative;
  display: grid;
  gap: $space-2-5;
}

.inseamVariants {
  display: flex;
  gap: $space-2;
  & * {
    flex-grow: 1;
  }
}

.colorSwatches {
  display: grid;
  gap: $space-2;
}
