.menuItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 10px 16px;
  border-bottom: 1px solid #D2D4D7;
  height: 40px;
  cursor: pointer;
  font-family: futura-pt, sans-serif;
  font-weight: 400;
  line-height: 120%;
  font-size: 16px;
}
.menuItem.menuItemWithSubmenu {
  font-family: futura-pt, sans-serif;
  font-weight: 700;
  line-height: 120%;
  font-size: 16px;
}
.menuItem.featured span {
  color: #9D6005;
}

.accordion .accordionButton {
  border-top: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 10px 16px !important;
  border-bottom: 1px solid #D2D4D7;
  height: 40px;
  cursor: pointer;
}
.accordion .accordionButton.titleWithMedia {
  height: 120px;
}
.accordion .accordionTitle {
  font-family: futura-pt, sans-serif;
  font-weight: 400;
  line-height: 120%;
  font-size: 16px;
  font-weight: 600;
  display: flex;
  column-gap: 16px;
  align-items: center;
}
.accordion .accordionContent {
  display: grid;
  padding: 0px 24px;
}
