@use '../../styles/abstracts' as *;

.container {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: initial;
  z-index: 100;
  width: 100%;
  background-color: $backgrounds_light;
  transition: 0.15s ease-out;
  display: flex;
  flex-direction: column;
  transform: translateX(100%);
  z-index: 110;

  &.isCartOpen {
    transform: translateX(0);
  }

  @include media-query(sm) {
    width: 375px;
  }

  @include media-query(md) {
    width: 500px;
  }
}

.itemContainer {
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  height: 100%;
}
