.container {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: initial;
  z-index: 100;
  width: 100%;
  background-color: #F5F7FA;
  transition: 0.15s ease-out;
  display: flex;
  flex-direction: column;
  transform: translateX(100%);
  z-index: 110;
}
.container.isCartOpen {
  transform: translateX(0);
}
@media screen and (min-width: 481px) {
  .container {
    width: 375px;
  }
}
@media screen and (min-width: 769px) {
  .container {
    width: 500px;
  }
}

.itemContainer {
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  height: 100%;
}
