@use '../../styles/abstracts' as *;

.productBox {
  display: grid;
  margin-left: -$space-4;
  margin-right: -$space-4;

  @include media-query(md) {
    margin-left: $space-0;
    margin-right: $space-0;
    gap: $space-8;
  }

  @include media-query(lg) {
    grid-template-columns: 1fr 500px;
    gap: $space-10;
  }

  @include media-query(xl) {
    grid-template-columns: 1fr 570px;
  }

  @include media-query(xxl) {
    grid-template-columns: 1fr 640px;
  }
}

.details {
  display: grid;
  gap: $space-6;
  align-content: start;
  padding: $space-6 $space-4;

  @include media-query(md) {
    padding: $space-0;
  }
}

.atcButton {
  width: 100%;
}
