.productBox {
  display: grid;
  margin-left: -16px;
  margin-right: -16px;
}
@media screen and (min-width: 768px) {
  .productBox {
    margin-left: 0;
    margin-right: 0;
  }
}
@media screen and (min-width: 1024px) {
  .productBox {
    grid-template-columns: 1fr 500px;
    gap: 40px;
  }
}
@media screen and (min-width: 1281px) {
  .productBox {
    grid-template-columns: 1fr 570px;
  }
}
@media screen and (min-width: 1441px) {
  .productBox {
    grid-template-columns: 1fr 640px;
  }
}
