.productBox {
  display: grid;
  margin-left: -16px;
  margin-right: -16px;
}
@media screen and (min-width: 769px) {
  .productBox {
    margin-left: 0px;
    margin-right: 0px;
  }
}
@media screen and (min-width: 1025px) {
  .productBox {
    grid-template-columns: 1fr 500px;
    gap: 40px;
  }
}
@media screen and (min-width: 1281px) {
  .productBox {
    grid-template-columns: 1fr 570px;
  }
}
@media screen and (min-width: 1441px) {
  .productBox {
    grid-template-columns: 1fr 640px;
  }
}

.productBoxDetails {
  display: grid;
  gap: 24px;
  align-content: start;
  padding: 0px 16px;
}
@media screen and (min-width: 769px) {
  .productBoxDetails {
    padding: 0px;
  }
}

.atcButton {
  width: 100%;
}
