@use '../../../styles/abstracts' as *;

.paymentInformation {
  padding: $space-5 $space-4;
  background-color: $backgrounds-white;
  display: grid;
  justify-items: center;
  grid-gap: $space-5;
  margin: $space-4 0;
}

.title,
.exchange {
  display: flex;
  align-items: center;
  gap: $space-2;

  p {
    color: $text-neutral-default;
    @include body-regular-xs;
  }
}

.methods {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: $space-12;
  width: 100%;

  > div {
    display: flex;
  }
}
