.wrapper {
  display: grid;
  padding: 24px;
  box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.1);
}
@media screen and (min-width: 769px) {
  .wrapper {
    padding: 32px;
  }
}

.media {
  display: flex;
  justify-self: center;
}

.title {
  font-family: futura-pt, sans-serif;
  font-weight: 700;
  line-height: 120%;
  font-size: 14px;
  text-align: center;
  text-transform: uppercase;
  color: rgb(0, 0, 0);
  padding-top: 18px;
}
@media screen and (min-width: 769px) {
  .title {
    font-family: futura-pt, sans-serif;
    font-weight: 700;
    line-height: 120%;
    font-size: 16px;
    padding-top: 32px;
  }
}
