.navItem {
  white-space: nowrap;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-bottom: 2px solid transparent;
  z-index: 109;
  font-family: futura-pt, sans-serif;
  font-weight: 700;
  line-height: 120%;
  font-size: 16px;
}
.navItem h6 {
  height: 100%;
  width: 100%;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  padding: 0px 12px;
}
.navItem.featured h6 {
  color: #9D6005;
}
.navItem.link:hover {
  border-bottom-color: rgb(0, 0, 0);
}
.navItem.simpleLink {
  padding: 0px 12px;
}

.megaMenu {
  display: flex;
  position: absolute;
  left: 0px;
  top: 100%;
  width: 100vw;
  z-index: 108;
  background-color: rgb(255, 255, 255);
  padding: 32px;
  justify-content: center;
  column-gap: 32px;
  opacity: 0;
  visibility: hidden;
}
.megaMenu.megaMenuVisible {
  opacity: 1;
  visibility: visible;
}

.megaItem {
  display: flex;
  flex-direction: column;
}

.media {
  padding-bottom: 8px;
}

.subItemTitle {
  font-family: futura-pt, sans-serif;
  font-weight: 700;
  line-height: 120%;
  font-size: 20px;
}

.megaList {
  display: flex;
  flex-direction: column;
  row-gap: 4px;
  font-family: futura-pt, sans-serif;
  font-weight: 500;
  line-height: 120%;
  font-size: 18px;
  padding-top: 6px;
}

.subItemLink {
  position: relative;
  width: fit-content;
}
.subItemLink:before {
  content: "";
  position: absolute;
  left: 0px;
  bottom: 0px;
  width: 100%;
  border-bottom: 1px solid rgb(0, 0, 0);
  transform: scaleX(0);
  transition: transform 0.2s ease-in-out;
}
.subItemLink:hover:before {
  transform: scaleX(1);
}

@media screen and (min-width: 769px) {
  .navItem:nth-child(n+5), .navItem.mobile_nav_only, .navItem.hide_on_tablets {
    display: none;
  }
}
@media screen and (min-width: 1025px) {
  .navItem:nth-child(n+5) {
    display: flex;
  }
  .navItem.mobile_nav_only, .navItem.hide_on_tablets {
    display: none;
  }
}
@media screen and (min-width: 1281px) {
  .navItem.hide_on_tablets {
    display: flex;
  }
  .navItem h6, .navItem.simpleLink {
    padding: 0px 18px;
  }
}
