@use '../../../styles/abstracts/index' as *;

.navItem {
  white-space: nowrap;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-bottom: $border-width-2 solid transparent;
  z-index: 109;
  @include body-bold-md;

  h6 {
    height: 100%;
    width: 100%;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    padding: $space-0 $space-3;
  }

  &.featured {
    h6 {
      color: $alert-warning-default;
    }
  }

  &.link {
    &:hover {
      border-bottom-color: $text-neutral-default;
    }
  }

  &.simpleLink {
    padding: $space-0 $space-3;
  }
}

.megaMenu {
  display: flex;
  position: absolute;
  left: $space-0;
  top: 100%;
  width: 100vw;
  z-index: 108;
  background-color: $backgrounds-white;
  padding: $space-8;
  justify-content: center;
  column-gap: $space-8;
  opacity: 0;
  visibility: hidden;

  &.megaMenuVisible {
    opacity: 1;
    visibility: visible;
  }
}

.megaItem {
  display: flex;
  flex-direction: column;
}

.media {
  padding-bottom: $space-2;
}

.subItemTitle {
  @include body-bold-xl;
}

.megaList {
  display: flex;
  flex-direction: column;
  row-gap: $space-1;
  @include body-semi-lg;
  padding-top: $space-1-5;
}

.subItemLink {
  position: relative;
  width: fit-content;

  &:before {
    content: '';
    position: absolute;
    left: $space-0;
    bottom: $space-0;
    width: 100%;
    border-bottom: $border-width-1 solid $text-neutral-default;
    transform: scaleX(0);
    transition: transform .2s ease-in-out;

  }

  &:hover {
    &:before {
      transform: scaleX(1);
    }
  }
}

.navItem {
  @include media-query(md) {
    &:nth-child(n+5), &.mobile_nav_only, &.hide_on_tablets {
      display: none;
    }
  }

  @include media-query(lg) {
    &:nth-child(n+5) {
      display: flex;
    }

    &.mobile_nav_only, &.hide_on_tablets {
      display: none;
    }
  }

  @include media-query(xl) {
    &.hide_on_tablets {
      display: flex;
    }

    h6, &.simpleLink {
      padding: $space-0 $space-4-5;
    }
  }
}
