@use './../../../../styles/abstracts/' as *;

.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: #fff;
  padding: $space-3 $space-4;
  position: relative;

  display: grid;
  grid-template-columns: 1fr $space-24 1fr;
  column-gap: $space-3;
  row-gap: $space-4;

  border-bottom: 1px solid #d2d4d7;
}

.left {
  display: flex;
  column-gap: $space-2;
  align-self: center;
  justify-content: start;
}

.center {
  align-items: center;
  display: flex;

  svg {
    object-fit: contain;
    width: 100%;
    height: 100%;
  }
}

.right {
  display: flex;
  column-gap: $space-2;
  align-self: center;
  justify-content: end;
}

.searchBar {
  grid-column: 1 / span 3;
}

@include media-query(sm) {
  .wrapper {
    display: none;
  }
}
