@use '../../../styles/abstracts' as *;

.gwp {
  background-color: $backgrounds-white;

  :global(.carousel-navigation) {
    z-index: 1;
    padding: $space-0;
  }

  :global(.carousel) {
    padding: $space-0 30px;
  }
}

.button {
  color: $text-neutral-default;
  @include body-bold-lg;
}

.panel {
  padding-left: $space-1 !important;
  padding-right: $space-1 !important;
}

.panel > div {
  padding-bottom: $space-4;
}
