.gwp {
  background-color: rgb(255, 255, 255);
}
.gwp :global(.carousel-navigation) {
  z-index: 1;
  padding: 0px;
}
.gwp :global(.carousel) {
  padding: 0px 30px;
}

.button {
  color: rgb(0, 0, 0);
  font-family: futura-pt, sans-serif;
  font-weight: 700;
  line-height: 120%;
  font-size: 18px;
}

.panel {
  padding-left: 4px !important;
  padding-right: 4px !important;
}

.panel > div {
  padding-bottom: 16px;
}
