@use '../../../styles/abstracts' as *;

.wrapper {
  @include drawer;
  background-color: white;

  &.isShown {
    transform: translateX(0);
  }

  @include media-query(md) {
    max-width: 620px;
    max-height: 80vh;
    bottom: initial;
    right: initial;
    top: 50%;
    left: 50%;
    border-radius: $border-radius-modal;
    transform: translate(-50%, calc(-50% + 20px));
    opacity: 0;
    visibility: hidden;

    &.isShown {
      transform: translate(-50%, -50%);
      opacity: 1;
      visibility: visible;
    }
  }
}

.header {
  display: flex;
  justify-content: flex-end;
  padding: $space-3;
  margin-bottom: $space-2;
}

.body {
  padding: $space-4;
  display: grid;
  gap: $space-4;

  @include media-query(md) {
    padding: 0 $space-12 $space-12;
  }
}

.title {
  @include product-title-md;
  text-align: center;
  padding-bottom: $space-2;
}

.info {
  @include body-regular-md;
  text-align: center;
}

.form {
  display: grid;
  gap: $space-4;
}

.button {
  width: 100%;
  text-transform: uppercase;
}
