@use '../../../styles/abstracts' as *;

.link {
  display: block;
  padding: $space-4;

  &:not(:last-child) {
    border-bottom: 1px solid #e0e0e0; // missing token
  }

  &.withArrow {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.titleWrapper {
  @include headings-xs;
}
