.cartSliderHeader {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  gap: 8px;
  padding: 4px 16px;
  background-color: rgb(255, 255, 255);
}

.button {
  position: absolute;
  right: 0px;
}

.title {
  color: var(--text_neutral_default);
  font-family: futura-pt, sans-serif;
  font-weight: 700;
  line-height: 110%;
  font-size: 18px;
  letter-spacing: 0%;
}
