@use '../../../styles/abstracts' as *;

.cartSliderHeader {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  gap: $space-2;
  padding: $space-1 $space-4;
  background-color: $backgrounds-white;
  height: 40px;
}

.button {
  position: absolute;
  right: $space-4;
}

.title {
  color: var(--text_neutral_default);
  @include headings-sm;
}
