.cartSliderHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
  padding: 12px 16px;
  background-color: rgb(255, 255, 255);
}

.editButton {
  visibility: hidden;
  pointer-events: none;
}
.editButton.isEditEnabled {
  visibility: visible;
  pointer-events: initial;
}

.title {
  color: var(--text_neutral_default);
  font-family: futura-pt, sans-serif;
  font-weight: 700;
  line-height: 110%;
  font-size: 18px;
  letter-spacing: 0%;
}
