@use '../../../styles/abstracts/index' as *;

.nav {
  position: fixed;
  width: 100%;
  top: $space-0;
  left: $space-0;
  bottom: $space-0;
  background-color: $backgrounds-white;
  overflow-y: auto;
  transform: translateX(-100%);
  transition: transform 0.25s ease-out;
  z-index: calc(300 + var(--index));

  &.navVisible {
    transform: translateX(0);
  }
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: $space-2-5 $space-4;
  font-weight: $font-weight-demi;
  border-bottom: $border-width-1 solid $borders-divider-muted;
  height: 40px;
  @include headings-sm;
}

.icon {
  display: flex;

  &.hidden {
    visibility: hidden;
  }
}
