.wrapper {
  height: 100%;
  width: 100%;
}

.navList {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  list-style-type: none;
}
.navList li:first-child {
  color: #9D6005;
}

@media screen and (min-width: 481px) {
  .wrapper {
    display: flex;
  }
}
