@use './../../../../styles/abstracts/' as *;

.wrapper {
  height: 100%;
  width: 100%;
}

.navList {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  list-style-type: none;

  li:first-child {
    color: $alert-warning-default;
  }
}

@include media-query(sm) {
  .wrapper {
    display: flex;
  }
}
