@mixin inset($inset) {
  top: $inset;
  bottom: $inset;
  left: $inset;
  right: $inset;
}

@mixin position-centered {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin drawer {
  width: 100%;
  position: fixed;
  @include inset(0);
  transform: translateX(100%);
  transition: 0.2s ease-out;
  overflow-y: auto;
  z-index: 101;
}

@mixin fade-up {
  transform: translateY(0);
  opacity: 1;
  visibility: visible;
}
