@use 'sass:map';

$breakpoints: (
  sm: 481px,
  md: 768px,
  lg: 1024px,
  xl: 1281px,
  xxl: 1441px,
  xxxl: 1681px,
);

@mixin media-query($value) {
  $breakpoint: map.get($breakpoints, $value);

  @media screen and (min-width: $breakpoint) {
    @content;
  }
}
