.collectionTitle {
  font-family: futura-pt, sans-serif;
  font-weight: 700;
  line-height: 110%;
  font-size: 24px;
  letter-spacing: 0%;
}
@media screen and (min-width: 769px) {
  .collectionTitle {
    font-family: futura-pt, sans-serif;
    font-weight: 700;
    line-height: 110%;
    font-size: 48px;
    letter-spacing: 0%;
  }
}
